* {
  box-sizing: border-box;
}

#first-title {
  text-align: center;
  margin: 80px auto 40px auto;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 120px;
}

#subtitle {
  margin: 40px auto;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  color: #2B2B2B;
}

#pick-link {
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  text-decoration: none;
}

.theme-link {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  text-decoration: none;
  margin-top: 140px;
}

body {
  min-width: 700px;
  margin-top: -30px;
  background: url('https://i.imgur.com/9kSazDJ.jpg');
  background-size: cover;
}

#wrapper {
  margin: 20px auto 0 auto;
  width: 376px;
  text-align: center;
}

h1 {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 120px;
  margin: 0 auto;
  display: inline-block;
  font-weight: 300;
}

#container {
  margin: -30px auto -30px auto;
  width: 793px;
  overflow: auto;
}

#hint-div {
  height: 25px;
  width: 130px;
  float: left;
  display: inline-block;
  margin-top: 50px;
  margin-left: 3px;
}

#hint-link {
  text-decoration: none;
  font-family: 'Architects Daughter', cursive;
  font-size: 23px;
}

#drawing {
  display: inline-block;
  float: left;
  background-color: white;
  height: 420px;
  width: 420px;
}

img {
  height: 420px;
  width: 420px;
  text-align: center;
  display: block;
}

#letters {
  display: inline-block;
  float: left;
  margin-left: 85px;
  margin-top: 45px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
}

table {
  height: 300px;
  width: 150px;
  border: none;
}

td {
  text-align: center;
  padding: 5px;
  margin: 10px;
}

td:hover {
  cursor: pointer;
}

footer {
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  clear: both;
  font-size: 55px;
  margin-top: 10px;
}

.letterLines > b {
  position: absolute;
  font-weight: normal;
  color: #587094;
}

#lose-message {
  font-size: 37px;
  text-align: center;
}

#win-message {
  font-size: 37px;
  text-align: center;
}

.reset {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-left: 100px;
  margin-top: 14px;
  font-family: 'Architects Daughter', cursive;
  font-size: 23px;
}
