* {
  box-sizing: border-box;
}

#first-title {
  text-align: center;
  margin: 80px auto 40px auto;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 120px;
}

#subtitle {
  margin: 40px auto;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  color: #2B2B2B;
}

#pickLink {
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  text-decoration: none;
}

.themeLink {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  text-decoration: none;
  margin-top: 140px;
}

body {
  min-width: 700px;
  margin-top: -30px;
  /*background: #7F5B7A;*/
  background: url('https://i.imgur.com/9kSazDJ.jpg');
  background-size: cover;
}

#wrapper {
  margin: 20px auto 0 auto;
  width: 376px;
 /* overflow: auto;*/
  text-align: center;
}

h1 {
  /*font-family: 'Dawning of a New Day', cursive;*/
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 120px;
  margin: 0 auto;
  display: inline-block;
  font-weight: 300;
  /*height: 140px;
  width: 376px;
  float: left;
  text-align: center;*/
  /*overflow: auto;*/
}

#container {
/*  height: 555px;
  width: 555px;*/
  margin: -30px auto -30px auto;
  width: 660px;
  overflow: auto;
  /*background: #7F5B7A;*/
}

#drawing {
  display: inline-block;
  float: left;
  background-color: white;
}

main {
  height: 420px;
  width: 420px;
  text-align: center;
}

#letters {
  display: inline-block;
  float: left;
  margin-left: 85px;
  margin-top: 50px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
  color: #7F5B7A;
}

table {
  height: 300px;
  width: 150px;
  border: none;
}

td {
  /*border: 1px solid black;*/
  text-align: center;
  /*border-radius: 60px;*/
  padding: 5px;
  margin: 10px;
}

td:hover {
  background: rgba(255,255,255, 0.5);
  border-radius: 40%;
}

footer {
  font-family: 'Architects Daughter', cursive;
  /*width: 900px;*/
  /*margin: 50px auto 0 auto;*/
  text-align: center;
  clear: both;
  font-size: 55px;
}

.letterLines > b {
  position: absolute;
  font-weight: 300;
}

#lose-message {
  font-size: 37px;
  text-align: center;
}

#win-message {
  font-size: 37px;
  text-align: center;
}

.reset {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-left: 100px;
  margin-top: 14px;
  font-family: 'Architects Daughter', cursive;
  font-size: 23px;
}
/*div.letterLines {
  display: inline-block;
}

div.letterSlot {
  display: inline-block;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}*/
